<ion-view title="Add Company">
	<ion-content>
  <label class="item item-input">
    <input type="text" placeholder="Company Name">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Company Address">
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Address Town">
  </label>
</div>
  <label class="item item-input">
    <input type="text" placeholder="Address City">
  </label>
</div>


  <label class="item item-input">
    <input type="text" placeholder="Country">
  </label>
</div>

  <label class="item item-input">
    <input type="text" placeholder="Website">
  </label>
</div>
  <label class="item item-input">
    <input type="number" placeholder="Phone No">
  </label>
</div>

<label class="item item-input">
      <input type="text" placeholder="Email">
</label>
<label class="item item-input">
<button class="button button-small button-positive">
  Submit
</button>
</label>
<!--<div class="list list-inset">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">-->
    <!--</label>-->
    <!--<button class="button button-small">
      Submit
    </button>
  </div>-->
</div>
	</ion-content>
</ion-view>