/* Empty. Add your own CSS if you like */
     
.form{
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;
    width: 40%;
}
.for{
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}
.foru{
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
}
